%main.container.general-main-wrap
  %h1.general-title-margin= t('cart')
  .visible-xs
    - @order.order_items.each do |order_item|
      - book = order_item.book
      .general-cart-item.divider-lg-bottom{id: "xs_order_item_row_#{order_item.id}"}
        = button_to order_item, method: :delete, class: 'close general-cart-close', remote: true, 'aria-label': 'Close' do
          %span{'aria-hidden': "true"} &times;
        .general-img-wrap-table
          -if(!book.cover.file.nil?)
            = image_tag book.cover, alt: 'book-image-here', class: 'cart-img-shadow pull-left'
          -else
            =render 'shared/book_cover_generator', book: book, width: 140, height: 224, class: 'cart-img-shadow'
        %p.title= book.title
        %table.table
          %tr
            %td
              %span.in-grey-600= t('price')
            %td
              %span.font-16.in-gold-500= price_in_currency book.price
          %tr
            %td.vertical-middle
              %span.in-grey-600= t('quantity')
            %td
              .input-group
                = link_to order_item_path(order_item, increase: false), method: :put, class: 'input-link', remote: true do
                  %i.fa.fa-minus.line-height-40
                %input.form-control.quantity-input{id: "xs_order_item_quantity_#{order_item.id}", type: "text", value: order_item.quantity, readonly: true}
                = link_to order_item_path(order_item, increase: true ),  method: :put, class: 'input-link', remote: true do
                  %i.fa.fa-plus.line-height-40
          %tr
            %td
              %span.in-grey-600= t('subtotal')
            %td
              %span.font-16.in-gold-500{id: "xs_order_item_total_price_#{order_item.id}"}= price_in_currency order_item.total_price
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600= t('product')
        %th.col-title
        %th.col-price
          %span.in-grey-600= t('price')
        %th.col-quantity
          %span.in-grey-600= t('quantity')
        %th.col-total
          %span.in-grey-600= t('subtotal')
        %th.col-close
      - @order.order_items.each do |order_item|
        - book = order_item.book
        %tr{id: "order_item_row_#{order_item.id}"}
          %td
            .general-img-wrap-table
              -if(!book.cover.file.nil?)
                = image_tag book.cover, alt: 'book-image-here', class: 'cart-img-shadow pull-left'
              -else
                =render 'shared/book_cover_generator', book: book, width: 80, height: 128, class: 'cart-img-shadow pull-left'
          %td
            %p.title= book.title
          %td
            %span.font-16.in-gold-500= price_in_currency book.price
          %td
            .input-group
              = link_to order_item_path(order_item, increase: false), method: :put, class: 'input-link', remote: true do
                %i.fa.fa-minus.line-height-40
              %input.form-control.quantity-input{id: "order_item_quantity_#{order_item.id}", type: "text", value: order_item.quantity, readonly: true}
              = link_to order_item_path(order_item, increase: true ),  method: :put, class: 'input-link', remote: true do
                %i.fa.fa-plus.line-height-40
          %td
            %span.font-16.in-gold-500{id: "order_item_total_price_#{order_item.id}"}= price_in_currency order_item.total_price
          %td
            = button_to order_item, method: :delete, class: 'close general-cart-close', remote: true, 'aria-label': 'Close' do
              %span{'aria-hidden': "true"} &times;
  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group
          %label.input-label= t('enter_coupon')
          = form_for @order, action: :update, remote: true do |f|
            = text_field_tag :secret_code, secret_code, class: 'form-control mb-30', placeholder: t('enter_coupon')
            %div
              = f.submit t('update_cart'), class: 'btn btn-primary mb-15 res-block'
              -#%button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block= t('update_cart')
              -#%button.btn.btn-primary.mb-15.res-block= t('apply_coupon')
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18= t('order_summary')
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16= t('order_subtotal')
              %td
                %p.font-16#subtotal= price_in_currency @order.subtotal
            %tr
              %td
                %p.font-16= t('coupon')
              %td
                %p.font-16#coupon_discount= price_in_currency discount
            %tr
              %td
                %strong.font-18= t('order_total')
              %td
                %strong.font-18#total= price_in_currency @order.total_price
          %button.btn.btn-default.mb-20.visible-xs-inline-block= t('checkout')
  %button.btn.btn-default.mb-20.hidden-xs.center-block= t('checkout')