- editable ||= false
.col-sm-3
  %h3.general-subtitle{class: "#{'mt-0' unless editable}"}= t(address.type.underscore)
  %p.general-address
    = address.full_name
    - if editable
      = link_to t('edit'), wizard_path(:addresses), class: 'general-edit'
    %br
    = address.address
    %br
    = "#{address.city} #{address.zip}"
    %br
    = address.country_name
    %br
    = "#{t('phone')} #{address.phone}"