%main.container
  = render 'steps'
  = form_for @order, url: wizard_path,class: 'res-mb-100' do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle= t('billing_address')
          %p.general-info-text= t('all_fields_required')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle= t('shipping_address')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle= t('billing_address')
          %p.general-info-text= t('all_fields_required')
        = f.fields_for @billing do |f|
          - errors = @billing.errors
          = render 'address_form', errors: errors, f: f
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle= t('shipping_address')
        = f.fields_for @shipping do |f|
          - errors = @shipping.errors
          = render 'address_form', errors: errors, f: f
        .form-group.checkbox
          %label.checkbox-label
            = check_box 'address', 'use_billing', {class: 'checkbox-input', hidden: true}, true, false
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('use_billing')
    .general-text-align.mb-60
      %p.in-gold-500.font-18= t('order_summary')
      %table.general-summary-table
        %tr
          %td
            %p.font-16= t('subtotal')
          %td
            %p.font-16= price_in_currency @order.subtotal
        %tr
          %td
            %p.font-16= t('coupon')
          %td
            %p.font-16= price_in_currency discount
        %tr
          %td
            %p.font-16= t('shipping_amount')
          %td
            %p.font-16= price_in_currency 0
        %tr
          %td
            %p.font-16= t('order_total')
          %td
            %p.font-16= price_in_currency @order.total_price
      = button_to t('save_and_continue'), wizard_path, method: :put, class: 'btn btn-default center-block mb-20'