- if @books.length > 0
  - @first_3_books = @books.last(3)
  %main.container
    #slider.carousel.slide{'data-ride': 'carousel'}
      %ol.carousel-indicators
        - @first_3_books.length.times do |i|
          %li{'data-target': '#slider', 'data-slide-to': i, class: ('active' if i == 0)}
      .carousel-inner{role: 'listbox'}
        - @first_3_books.each_with_index do |book,index|
          .item{class: ('active' if index == 0)}
            .row
              .col-sm-5
                .general-img-wrap
                  -if(book.img)
                    %img.img-shadow.general-thumbnail-img{src: book.img, alt: "design-book"}
                  -else
                    =render 'shared/book_cover_generator', book: book, width: 250, height: 333
              .col-sm-7
                .mb-60
                  %h1= book.title
                  %p.lead= truncate(book.description, length: 400)
                  %p.lead.small= book.authors_decorated
                  .general-align
                    %button.disabled.btn= t('buy_now_button')
      %a.left.carousel-control{href: '#slider', role: 'button', 'data-slide': 'prev'}
        %span.icon-prev{'aria-hidden': 'true'}
        %span.sr-only= t('previous_button')
      %a.right.carousel-control{href: '#slider', role: 'button', 'data-slide': 'next'}
        %span.icon-next{'aria-hidden': 'true'}
        %span.sr-only= t('next_button')
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('welcome_message')
    .mb-res-50
      %p= t('shop_description')
    %button.btn.btn-default= t('get_started_button')
  .mb-35
    %h3 Best Sellers
    .row
      - @books.first(4).each do |book|
        =render 'shared/book_item', book: book