%main.container
  = link_to request.referer || root_path, class: "general-back-link" do
    %i.fa.fa-long-arrow-left.mr-15
    = t('back_to_results')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag large_pictures[0], class: 'img-responsive'
        .images.clearfix
          - if large_pictures[1]
            %a.img-link{href: "#"}
              = image_tag large_pictures[1]
          - if large_pictures[2]
            %a.img-link{href: "#"}
              = image_tag large_pictures[2]
          - if large_pictures[3]
            %a.img-link{href: "#"}
              = image_tag large_pictures[3]
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.authors_decorated
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= price_in_currency(@book.price)
        = form_for OrderItem.new, remote: true do |f|
          = f.hidden_field :book_id, value: @book.id
          .col-xs-5.col-md-3
            .input-group.general-position= render 'book_quantity', {book: @book, f: f}
          .col-xs-7.col-md-5
            =f.submit t("add_to_cart"), class: 'btn btn-default pull-right general-position', disabled: @book.quantity <= 0
      .general-info-wrap.divider-lg
        %p= t("description")
        #short_description
          %p.lead.small.line-height-2
            = truncate(@book.description, length: 480)
            %a.in-gold-500.ml-10#show_description{href: "#"}= t("read_more")
        #description.hidden
          %p.lead.small.line-height-2
            = @book.description
            %a.in-gold-500.ml-10#hide_description{href: "#"}= t("hide")
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("year")
          %p.lead.small.pull-right= @book.year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("dimensions")
          %p.lead.small.pull-right= @book.dimensions_decorated
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("materials")
          %p.lead.small.pull-right= @book.materials
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t("quantity")
          %p.lead.small.pull-right#book-quantity= @book.quantity
  .mb-80
    %h3.in-gold-500.mb-25 Reviews (3)
    .general-message-wrap.divider-lg
      .clearfix
        %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified Verified Reviewer
              .general-message-name Rita J. Lewis
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
          %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified.pull-right Verified Reviewer
              .general-message-name May J. Novoa
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star.rate-empty
          %p If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.