%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('login')
    = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
      %i.fa.fa-facebook-official
    %p.general-login-text= t('or')
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'general-form' }) do |f|
    = devise_error_messages!
    .form-group.mb-30
      = f.label :email, t('enter_email'),class: 'control-label input-label'
      = f.text_field :email, class: 'form-control', placeholder: t('enter_email')
    .form-group.mb-30
      = f.label :password, class: 'control-label input-label'
      = f.password_field :password, class: 'form-control', placeholder: true
      = link_to t('forgot_password'), new_user_password_path, class: 'help-block in-gold-500'
    - if devise_mapping.rememberable?
      .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
          = f.check_box :remember_me, class: 'checkbox-input', hidden: true
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text= t('activerecord.attributes.user.remember_me')
    .text-center
      = f.submit t('login'), class: 'btn btn-default mb-20'
  %p.general-sign-text.text-center
    = t('have_not_account')
    = link_to t('signup'), new_user_registration_path, class: 'in-gold-500'