$.notify("#{t('success')}", { position:"right bottom", className: "success" });
$("#order_item_row_#{params[:id]}").remove();
$("#xs_order_item_row_#{params[:id]}").remove();
- if (@order.quantity <= 0)
  $('.shop-quantity').remove();
  $('main').html('<h1>The cart is empty</h1>');
  $('a.shop-link').attr('href','/');
- else
  $('.shop-quantity').html("#{@order.quantity}");
$('#subtotal').html("#{price_in_currency @order.subtotal}");
$('#total').html("#{price_in_currency @order.total_price}");
$('#coupon_discount').html("#{price_in_currency discount}");